{% extends 'base.html' %}

{% block content %}

<p> Welcome to the Multiple Protein Profiler tool! </p><br>

<ol>

<li><p> MPP is an integrated tool that allows the profiling of 12 individual properties of multiple proteins in a significant manner. <br>
    MPP provides a tabular and graphic visualization of properties of multiple proteins. </p></li><br>

<li><p>Upon acessing the home page of the MPP tool, you will find an option to input your proteins for MPP to profile.<br>
    You can either input proteins in a text format or upload a file. Either options work better with a .FASTA file format.</p></li><br>

    <div class="image-container ms-auto">
        <img src="https://raw.githubusercontent.com/gustavsganzerla/mpp/main/protein_profiler/static/images/figure1.png" alt="Dal Logo" width="1200" height="500">
    </div>

<li><p>After clicking submit, your proteins will be profiled.</p></li><br>

<li><p>In the results, you have a table with the calculated properties of your proteins</p></li><br>
<li><p>You can click on <b>download profiled proteins as .csv</b></p></li><br>
<li><p>In the header, you can click on a particular property to be directed to the plot</p></li><br>

<div class="image-container ms-auto">
    <img src="https://raw.githubusercontent.com/gustavsganzerla/mpp/main/protein_profiler/static/images/figure2.png" alt="Dal Logo" width="1200" height="500">
</div>
</ol>

{% endblock %}
    