{% extends 'base.html' %}

{% block content %}

<p> Welcome to the Multiple Protein Profiler tool! </p><br>

<ol>

<li><p> MPP is an integrated tool that allows the profiling of 12 individual properties of multiple proteins in a significant manner. <br>
    MPP provides a tabular and graphic visualization of properties of multiple proteins. </p></li><br>

<li><p>Upon acessing the home page of the MPP tool, you will find an option to input your proteins for MPP to profile.<br>
    You can either input proteins in a text format or upload a file. Either options work better with a .FASTA file format.</p></li><br>




{% endblock %}
    