{% extends 'base.html' %}

{% block content %}
<h1>Multiple Protein Profiler</h1>
<br>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.as_p }}
    <button type="submit">Submit</button>

</form>
<br><br>
<p><u> If considering using MPP in your work, kindly cite us:</u>
<p>Sganzerla Martinez, G., Dutt, M., Kumar, A., & Kelvin, D. J. (2024). <br>
    Multiple Protein Profiler 1.0 (MPP): <br>
    A Webserver for Predicting and Visualizing Physiochemical Properties of Proteins at the Proteome Level.<br>
    The Protein Journal.<br>
    <a href="https://doi.org/10.1007/s10930-024-10214-z" target="_blank">Link</a>
{% endblock %}
