{% extends 'base.html' %}

{% block content %}

<h2> If considering using MPP in your work, please cite us: </h2><br>

    <p>Sganzerla Martinez G, Dutt M, Kumar A, Kelvin DJ. 2023.<br>
    Multiple Protein Profiler 1.0 (MPP):
    A webserver for predicting and visualizing physicochemical proteins of proteins at the proteome level.<br>
    ArXiv (preprint). https://doi.org/10.48550/arXiv.2312.00796 </p>

    <ul>
        <li>(Preprint, not peer-reviewed) <a href="https://arxiv.org/abs/2312.00796" target = "_blank">Publication</a> </li>
    </ul>
    

{% endblock %}